---
layout: layouts/default.njk
---

{%- from 'macro.btn.njk' import btn -%}

<figure class="flex-(& col) items-center gap-6 md:(flex-row-reverse items-start gap-12)">
  <img src="/_assets/img/goblin-{{ title | slugify }}.jpg" alt="{{ title }} photo" class="w-full max-w-xs shrink-0 rounded-xl" />
  <figcaption class="prose grow md:text-lg">{{ desc | md | safe }}</figcaption>
</figure>
<p class="divider pt-6">
{{ btn({
    title: 'Back',
    ico: 'mdi:arrow-left',
    url: '/'
  }) }}
</p>
