---
layout: layouts/default.njk
title: Goblins
subtitle: The "Band"
eleventyComputed:
  eleventyNavigation:
    key: '{{ title }}'
date: 0001-01-01
---

{%- from 'macro.heading.njk' import heading -%}
{%- from 'macro.btn.njk' import btn -%}

<div
  x-data="{
    active: null,
    init() {
      this.readHash();
      window.addEventListener('hashchange', () => this.readHash());
      this.$watch('active', (value) => {
        const newHash = value ? '#' + value : '';
        if (window.location.hash !== newHash) {
          window.location.hash = value || '';
        }
      });
    },
    readHash() {
      const hash = window.location.hash;
      this.active = hash ? hash.substring(1) : '{{ collections.goblins[0].data.title | slugify }}';
    },
    setActive(tab) {
      this.active = tab;
    }
  }"
  x-cloak
>
  <nav
    @keydown.left.prevent.stop="$focus.wrap().prev()"
    @keydown.right.prevent.stop="$focus.wrap().next()"
    @keydown.home.prevent.stop="$focus.first()"
    @keydown.page-up.prevent.stop="$focus.first()"
    @keydown.end.prevent.stop="$focus.last()"
    @keydown.page-down.prevent.stop="$focus.last()"
    class="pb-6 flex items-center justify-center gap-1 md:(pb-12 gap-4)"
  >
    <ul class="flex items-center gap-1 md:gap-4" role="tablist">
      {%- for goblin in collections.goblins %}
        {%- set titleSlug = goblin.data.title | slugify -%}
        <li role="presentation">
          <button
            x-tooltip="'{{ goblin.data.title }}'"
            @click.prevent="setActive('{{ titleSlug }}')"
            @focus="active = '{{ titleSlug }}'"
            @mousedown.prevent
            :tabindex="active === '{{ titleSlug }}' ? '0' : '-1'"
            :aria-selected="active === '{{ titleSlug }}'"
            :class="active === '{{ titleSlug }}' ? 'active outline-current opacity-100 scale-125 pointer-events-none' : 'outline-transparent opacity-40'"
            class="block relative outline-(& 2 offset-2) rounded-full transition after:(border-(2 transparent) absolute inset-0 rounded-full pointer-events-none) hover:(outline-sec-300 opacity-100) [&.active:after]:(border-current animate-ping)"
            aria-label="{{ goblin.data.title }}"
            aria-controls="tabpanel-{{ titleSlug }}"
            id="tab-{{ titleSlug }}"
            role="tab"
          >
            <img class="w-11 h-11 block object-cover object-top rounded-full" src="/_assets/img/goblin-{{ titleSlug }}-th.jpg" width="44" height="44" alt="{{ goblin.data.title }} photo" />
          </button>
        </li>
      {%- endfor %}
    </ul>
  </nav>
  
  {%- for goblin in collections.goblins %}
    {%- set titleSlug = goblin.data.title | slugify -%}
    <div x-show="active === '{{ titleSlug }}'" x-transition:enter.opacity.duration.500ms x-transition:leave.opacity.duration.0ms id="tabpanel-{{ titleSlug }}" class="focus-visible:outline-none" :style="active !== '{{ titleSlug }}' && 'display: none'" tabindex="0" role="tabpanel" aria-labelledby="tab-{{ titleSlug }}">
      {{ heading({
        title: goblin.data.title,
        subtitle: goblin.data.position
      }) }}
      <figure class="mt-12 flex-(& col) items-center gap-8 relative md:(flex-row-reverse items-start gap-16)">
        <img src="/_assets/img/goblin-{{ titleSlug }}.jpg" alt="{{ goblin.data.title }} photo" class="p-px border-(& black) w-full max-w-xs bg-gradient-to-br from-sec-200 to-sec-700 shrink-0 rounded-xl shadow-2xl md:(sticky top-4)" />
        <figcaption class="prose max-w-sm grow [&>p]:text-wrap-pretty md:(max-w-none text-lg)">
          {{ goblin.data.desc | md | safe if goblin.data.desc }}
          {%- if goblin.data.gear %}
            <div class="prose tabs tabs-box mt-8 mx-auto max-w-sm md:max-w-none">
              {%- for category, items in goblin.data.gear %}
                <label class="tab text-base" id="tab-{{ category | slugify }}">
                  <input type="radio" name="gear-{{ titleSlug }}" role="tab"{{ ' checked' if loop.first }} />
                  {{ category }}
                </label>
                <div class="tab-content not-prose border-(1 black/75) bg-pri-500/5" role="tabpanel" aria-labelledby="tab-{{ category | slugify }}">
                  <ul class="p-4 grid-(& cols-3) gap-4 md:gap-8">
                    {%- for item in items %}
                      {%- if category === 'Brands' %}
                        <li>
                          <a href="{{ item.url | url }}" aria-label="{{ item.title }}" class="p-2 bg-zinc-500/20 flex items-center justify-center opacity-50 rounded-lg transition hover:(bg-sec-500/10 ring-(1 inset white/10) opacity-100) focus:(bg-sec-500/10 ring-(1 inset white/10) opacity-100)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="280" height="100" role="img" class="w-28 h-auto fill-current">
                              <use href="/_assets/logos.svg?bust={% bust %}#logo-{{ item.title | slugify }}" />
                            </svg>
                          </a>
                        </li>
                      {%- else %}  
                        {%- set parts = item.title.split(' › ') -%}
                        <li>
                          <a href="{{ item.url | url }}" class="block transition hover:scale-105"><img src="/_assets/img/gear/{{ titleSlug }}/{{ category | slugify }}-{{ item.title | slugify }}.png" alt="{{ item.title }}" /></a>
                          <p class="mt-1 text-center flex flex-col items-center"><small class="text-xs opacity-60">{{ parts[0] }}</small> <strong class="text-sm">{{ parts[1] }}</strong></p>
                        </li>
                      {%- endif %}
                    {%- endfor %}
                  </ul>
                </div>
              {%- endfor %}
            </div>
          {%- endif %}
          {#- <span class="text-sec-300 block absolute -top-2.5 right-1/2 translate-x-1/2 animate-ping md:(-right-2.5 translate-x-0)" aria-hidden="true"><iconify-icon icon="mdi:sparkles" width="24px" height="24px" class="iconify" noobserver></iconify-icon></span> -#}
        </figcaption>
      </figure>
    </div>
  {%- endfor %}
</div>


<p class="pt-6 text-center">
  {{ btn({
    title: 'Back',
    ico: 'mdi:arrow-left',
    url: '/'
  }) }}
</p>
