---
layout: layouts/default.njk
title: Albums
subtitle: Listener BEWARE
date: 2025-04-25
---

<ul class="list-none grid-(& cols-2) items-center gap-12 md:(grid-cols-3)">
  {%- for album in collections.albums %}
    <li class="col-start-2">
      <figure>
        <img src="/_assets/img/album-{{ album.data.title | slugify }}.jpg" alt="{{ album.data.title }} cover" class="rounded-lg" />
        <figcaption class="py-3 text-lg flex items-center justify-between gap-2">
          <b>{{ album.data.title }}</b>
          <small class="text-pri-700">{{ date | dateFormat('YYYY') }}</small>
        </figcaption>
      </figure>
    </li>
  {%- endfor %}
</ul>
<p class="pt-5 text-3xl flex justify-center"><a href="/" class="link" aria-label="Back home"><iconify-icon icon="mdi:arrow-left-circle-outline" class="block"></iconify-icon></a></p>
