{%- set classNav = 'flex-(& col) gap-px transition relative after:(h-0.5 bg-current opacity-50 motion-safe:(transition-all)) hover:(text-pri-200 after:(w-full))' -%}
<nav class="pt-4 px-6 divider">
  <ul class="text-(pri-500 2xl) uppercase font-goblin flex items-center gap-6 justify-end">
    {%- if page.url !== '/' %}
      <li><a href="/" class="{{ classNav }} after:(hidden)"><iconify-icon icon="mdi:chevron-left" width="35px" height="35px" class="iconify"></iconify-icon></a></li>
    {%- endif %}
    {%- for item in collections.all | eleventyNavigation() %}
      <li><a href="{{ item.url }}" class="{{ classNav }} after:({% if page.url === item.url %}w-full{% else %}w-0{% endif %})"{% if page.url === item.url %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
    {%- endfor %}
  </ul>
</nav>
