{#-
  id: string
  title: string
  slot: string (md support)
  action: string
  props: string (great for stuff like alpine or aria attrs)
-#}
{%- from 'macro.btn.njk' import btn -%}

{%- macro dialog(param) -%}
  <template x-teleport="body">
    <dialog id="{{ param.id if param.id else 'dialog' }}" class="dialog"{{ param.props | safe }}>
      <div class="dialog-box">
        <div class="dialog-header">
          <form method="dialog" class="absolute -top-4 -right-4">{{ btn({ tag: 'button', title: 'Close', ico: 'mdi:close' }) }}</form>
          {%- if param.title %}<h3 class="dialog-title">{{ param.title | safe }}</h3>{%- endif %}
        </div>
        <div class="dialog-body">
          <div>{{ param.slot | md | safe }}</div>
        </div>
      </div>
      <form method="dialog" class="dialog-backdrop">
        <button>Close</button>
      </form>
    </dialog>
  </template>
{%- endmacro -%}
