---
layout: layouts/default.njk
title: '404'
---

<article class="m-auto p-6">
  <a href="/" class="mx-auto py-8 px-4 text-(4xl center) leading-relaxed font-black block lg:(py-16 text-[calc(2vw+2vh)])">
    Oops <i class="mx-1 font-thin inline-block opacity-20">/</i> 404
    <small class="text-lg font-normal block opacity-70 lg:(text-2xl)">What kind of Ork are you?</small>
  </a>
</article>
