---
layout: layouts/default.njk
---
{%- from 'macro.btn.njk' import btn -%}

<ul class="group mx-auto max-w-2xl h-auto grid-(& cols-1) gap-5 xs:(grid-cols-2) md:(h-96 flex justify-center gap-2)">
  {%- for goblin in collections.goblins %}
    <li class="group/goblin
      relative
      w-full
      max-md:(mx-auto max-w-xs)
      rounded-xl
      overflow-hidden
      md:group-hover:[&:not(:hover)]:w-[20%]
      md:group-focus-within:[&:not(:focus-within):not(:hover)]:w-[20%]
      transition-all
      duration-300
      ease-[cubic-bezier(.5,.85,.25,1.15)]
      before:from-black/75
      focus-within:before:opacity-100
      after:opacity-0
      md:group-hover:[&:not(:hover)]:after:opacity-100
      md:group-focus-within:[&:not(:focus-within):not(:hover)]:after:opacity-100
      after:absolute
      after:inset-0
      after:bg-zinc-900/50
      after:backdrop-blur
      after:transition-all
    ">
      <a href="{{ goblin.url }}" class="absolute inset-0 text-white z-10">
        <span class="
          py-2.5
          px-5
          bg-(black/80 noise)
          text-base
          absolute
          left-4
          bottom-4
          backdrop-blur-sm
          rounded-lg
          shadow-lg
          shadow-black/50
          md:(text-lg opacity-0)
          group-hover/goblin:opacity-100
          group-focus-within/goblin:opacity-100
          md:translate-y-2
          group-hover/goblin:translate-y-0
          group-focus-within/goblin:translate-y-0
          transition
          duration-200
          ease-[cubic-bezier(.5,.85,.25,2)]
          group-hover/goblin:delay-300
          group-focus-within/goblin:delay-300
        ">
          <small class="text-xs uppercase block opacity-70">{{ goblin.data.position }}</small>
          {{ goblin.data.title }}
        </span>
      </a>
      <img class="w-full h-full object-cover object-top" src="/_assets/img/goblin-{{ goblin.data.title | slugify }}.jpg" width="640" height="960" alt="{{ goblin.data.title }} photo" />
    </li>
  {%- endfor %}
</ul>


<p class="pt-12 flex justify-center">
  {{ btn({
    title: 'Albums',
    url: '/albums/'
  }) }}
</p>
