{%- from 'macro.heading.njk' import heading -%}
{%- set domain -%}{{ site.meta.url | replace('.rocks/', '.rocks') }}{%- endset -%}
{%- set pageTitle -%}{{ title +' :: '+ site.meta.title if title else site.meta.title }}{%- endset -%}
{%- set headingTitle -%}{{ title if title else site.meta.title }}{%- endset -%}
{%- set headingSubtitle -%}{{ subtitle if subtitle else site.meta.description }}{%- endset -%}
{%- set noise -%}.bg-noise{background-image:url({{ '/' | url }}_assets/img/bg-cracked.png), url({{ '/' | url }}_assets/img/bg-chalk.png), url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4' width='4' height='4'><rect x='0' y='0' width='2' height='2' fill='rgba(255,255,255,.02)'></rect></svg>");}{%- endset -%}

<!doctype html>
<html lang="en" class="bg-transparent antialiased [&:has(:is(dialog[open]))]:(overflow-hidden [scrollbar-gutter:stable])" x-data>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author }} - {{ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ '/' | url }}favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" />

    <meta name="title" content="{{ pageTitle }}" />
    <meta name="description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ domain }}{{ page.url | url }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:image" content="{{ domain }}{{ '/' | url }}_assets/img/og.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ domain }}{{ page.url | url }}" />
    <meta property="twitter:title" content="{{ pageTitle }}" />
    <meta property="twitter:description" content="{{ site.meta.description }}" />
    <meta property="twitter:image" content="{{ domain }}{{ '/' | url }}_assets/img/og.png" />

    <style>{{ noise | safe }}</style>
    {% renderblock 'css' %}
  </head>

  <body class="bg-(zinc-950 noise fixed center) text-pri-300 font-serif !block" style="display: none;" data-instant-intensity="mousedown">
    <div class="min-h-screen flex-(& col) relative before:(h-[25vh] bg-gradient-to-b from-zinc-50/5 fixed inset-x-0 top-0 z-[-1]) after:(h-[50vh] bg-gradient-to-t from-zinc-950/80 fixed inset-x-0 bottom-0 z-[-1])">

      <header class="w-full shrink-0">
        {%- include 'inc.nav.njk' -%}
        <div class="mx-auto py-12 px-4 max-w-5xl text-center{{ ' hidden' if title === 'Goblins' }}">
          {{ heading({
            title: headingTitle,
            subtitle: headingSubtitle
          }) }}
        </div>
      </header>

      <main class="py-12 w-full grow">
        <article class="mx-auto px-6 max-w-5xl">
          {{ content | safe }}
        </article>
      </main>

      <footer class="divider-middle mt-auto p-6 pt-12 w-full text-(zinc-400/75 xs center) italic shrink-0 flex-col after:(w-full) md:(w-auto text-sm flex-row)">
        <div class="shrink-0 flex-(& wrap) items-center justify-center gap-2 order-first md:gap-3">
          <span>&copy;{% year %} {{ site.meta.title }}</span>
          <span aria-hidden="true"><img src="{{ '/' | url }}_assets/img/jewel.png" alt="jewel" class="w-auto h-[24px]" /></span>
          <span>Created by <a href="{{ '/' | url }}goblins/qranog/" class="link">Qranog</a></span>
        </div>
        <div class="shrink-0 order-last">
          {%- include 'inc.info.njk' -%}
        </div>
      </footer>

    </div>

    {%- renderblock 'js' %}
    <script src="{{ '/' | url }}_assets/js/_app.js?v={% bust %}"></script>
  </body>

</html>
