---
layout: layouts/default.njk
title: '404'
subtitle: Oops
---

{%- from 'macro.btn.njk' import btn -%}

<figure class="mx-auto w-full max-w-xs grid-(& cols-1) gap-6">
  <img src="/_assets/img/goblin-klokpunchr.jpg" alt="404" class="mx-auto p-px border-(& black) w-64 aspect-square bg-gradient-to-br from-sec-200 to-sec-700 object-(cover bottom) rounded-full shadow-2xl animate-pulse" />
  <figcaption>
    <p class="divider">
      {{ btn({
        title: 'Back',
        ico: 'mdi:home',
        url: '/'
      }) }}
    </p>
  </figcaption>
</figure>
